*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
}
.first-container{
    /* margin-top: 20px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundoo-tittle{
    font-size: 26px;
}

.form-content{
    width: 100%;
}
.content{
    padding: 48px 40px 25px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(187, 185, 185);
    border-radius: 10px;
    width: 50rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}
.title{
    font-size:24px;
    padding-bottom: 20px;
}
.title-main{
    font-size: 14px;
}
.text-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.form
.username{
    margin-top: 10px;
}
.username::before{
    content: '@gmail.com';
    position: absolute;
    right: 0.75em;
    top:50%;
    transform: translateY(-50%);
}
.username input.form-control{
    padding-right: 100px;
}
.button2{
    background-color: transparent;
    color: #1a73e8;
    box-shadow: none;
    transition:  0.3s ease-in;
}
.button2:hover{
    background-color:rgba(26, 115, 232, 0.281) ;
    color: #1a73e8;
    box-shadow: none;
}
.password{
    margin-top: 10%;
}
.checkbox{
    margin-top: 10%;
}

.char-text{
    font-size: 10px;
} 
.sign-in{
    margin:20% 0 25%;
}
.sign{
    font-size: 14px;
    color: rgb(41, 41, 223);
}
.picture{
    width:244px;
    height: 244px;
}
.form-outline input:focus{
    outline: 0;
    border-color: #777;
}
.form-outline.success input{
    border-color: #2ecc71;
}
.error{
    border-color: red;
}
.form-outline.error input{
   
}
.form-outline small{
    color: red;
    position: absolute;
    bottom: 0p;
    left: 0;
    visibility: hidden;
    }
.form-outline.error small{
visibility: visible;
}